.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 48rem;
  overflow: hidden;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 960px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

.gandalf {
  height: 2.5rem;
  border-radius: 0%;
  align-self: center;
}

.face {
  height: 20em;
  border-radius: 8%;
}

.underlinedlink {
  padding-bottom: 8px;
    display: inline-block;
    border-width: 0;
    border-bottom-width: 2px;
    border-style: dashed;
    border-color: #5a6278;
}

.name {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  padding-top: 3rem;
  gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
}

.header {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  padding-top: 3rem;
}

.navlink {
  display: flex;
  align-items: right;
  justify-content: right;
  flex-wrap: wrap;
}

.coverimage {
  max-width: 100%;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #5a6278;
  border-radius: 1.5em;
}

.gradient {
background: linear-gradient(110.78deg,#EC5157 -1.13%,#FF18BD 15.22%,#1A4BFF 42.09%,#62D8F9 88.96%);
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}











.bookshelf {
  min-height: 40vh;
  padding: 8rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: static;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 48rem;
  overflow: hidden;
}


.boxout {
    
    width: 720px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    top: 140px;
}

.book {
    width: 180px;
    height: 255px;
    background-color: rgb(62, 71, 152);
    transition: all .3s ease-in-out;
    transform-origin: left center 0px;
    transform-style: preserve-3d;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
}

.boxout .book::after {
    content: " ";
    display: block;
    opacity: 0;
    width: 180px;
    height: 255px;
    position: relative;
    left: 8px;
    transition: all .3s ease;
}

.boxout .book::before {
    content: " ";
   
    display: block;
    width: 20px;
    height: 100px;
    opacity: 0;
    position: absolute;
    top: -12px;
    right: 8px;
    transition: all .25s;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD8AAABhCAYAAABh23lYAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHCSURBVHgB7dxPTsJAHMXxN7Xu3UhigobxJHACvQFwAr2BcgO8AZxE7uGiDZiQyEIW7oSOUyKbKgLS8u+9b9JNF818fum0XdWUhy9VEDZBGIdBGD6DsFM3bQYgTnjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNZ2hR/7o+UcmnCIsaNCbLcU/RR8oB1bO/4+17l8ixoGeIBBBVvMXI0ih+L7Df2j8iiqnvgh+AVVUXDOTZvF4tNb2qC7DJ1tNgSDO78tblFQxeE92l+0NSjZDjaoMowqyYl7hDF15JzL+x+YHtxLgFq/ZO2m8LT4wsb90nUjmMD61XaRc7ng5+jBua29ntsecq6oIWyELxqdLe8h/GvPp+h0T28D/FezZ8Ip7pHgZt3X5NoPvH1BZ5sNIUTDL7C+6hBWxxt0gk+00tsOe96qH0zL8GO4pBtMg/YhoLMtG8Ii/EpfY4fSoiFk8UeFzpYdwhz/jiNGZ0uHEBjUEzftohJFZyAsdX8BM0/amLC3spYAAAAASUVORK5CYII=');
    background-size: 16px;
    background-repeat: no-repeat;
}

/*------ background-pic ------*/

.books1 {
  height: 255px;
  width: 180px;
}

/* ----- hover ----- */

.book:hover {
    cursor: pointer;
    transform: rotateY(-28deg) rotateZ(-2deg) scale(1.02);
    -webkit-backface-visibility: hidden;
    box-shadow: 1px 3px 2px #353d85, 20px 2px 0 #525dc4;
    /* transform: scale(1.02); */
}

.book:hover::after {
    content: " ";
    display: block;
    opacity: 1;
    width: 172px;
    height: 255px;
    position: relative;
    left: 8px;
    background: linear-gradient(-180deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, 0) 60%);
}

.book:hover::before {
    transform: translateY(9px);
    opacity: 1;
  
}

